@font-face {
    font-family: "Montserrat-regular";
    src: url(../../styles/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "Montserrat-light";
    src: url(../../styles/fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: "Montserrat-extralight";
    src: url(../../styles/fonts/Montserrat-ExtraLight.ttf);
}

@font-face {
    font-family: "Montserrat-semibold";
    src: url(../../styles/fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: "Montserrat-medium";
    src: url(../../styles/fonts/Montserrat-Medium.ttf);
}

html {
    color: rgb(0, 0, 0);
    overflow-x: hidden;
    width: 100vw;
    height: auto;
    overflow-y: auto;
}

.navbar form {
    position: absolute;
    top: -0.5vh;
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar input {
    background: none;
    border: none;
    border-radius: 10px;
    padding: 1%;
    width: 20vw;
    height: 5vh;
    color: white;
    font-size: 120%;
    font-family: "Montserrat-light";
    border: 2px solid rgba(255, 255, 255, 0.3);
}

.navbar input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.navbar input:focus {
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    outline: none;
}

.navbar {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.65) 19%, rgba(0, 0, 0, 0.541) 34%, rgba(0, 0, 0, 0.382) 47%, rgba(0, 0, 0, 0.278) 56.5%, rgba(0, 0, 0, 0.194) 65%, rgba(0, 0, 0, 0.126) 73%, rgba(0, 0, 0, 0.075) 80.2%, rgba(0, 0, 0, 0.042) 86.1%, rgba(0, 0, 0, 0.021) 91%, rgba(0, 0, 0, 0.008) 95.2%, rgba(0, 0, 0, 0.002) 98.2%, transparent 100%);
    top: -1vh;
    left: -1vw;
    width: 101vw;
    height: 15vh;
    object-fit: cover;
    position: absolute;
    z-index: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    width: auto;
    text-align: center;
    margin: 0;
    padding: 0;
}

.navbar img {
    width: 60%;
    height: auto;
}

.logo {
    width: auto;
    display: flex;
    flex-direction: row;
    height: 100%;
    text-transform: uppercase;
    font-family: "Montserrat-light";
    align-items: center;
    margin: 0;
    padding: 0;
}

.logo h2 {
    font-size: 300%;
    margin: 0 5% 0 0;
    padding: 0;
}

.logo-part p {
    font-family: "Montserrat-extralight";
    white-space: nowrap;
    margin: 1% 0;
    padding: 0;
    text-align: left;
    font-weight: 100;
}

.back-img {
    top: -1vh;
    left: -1vw;
    height: auto;
    width: 101vw;
    object-fit: cover;
    position: relative;
    z-index: -1;
    margin: 0;
    padding: 0;
}

.absolute-search {
    position: absolute;
    top: 20vh;
    width: 100%;
}

.search {
    top: 25vh;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search a {
    margin: 0 1%;
    color: rgba(255, 255, 255);
    font-family: "Montserrat-semibold";
    font-size: 100%;
    text-decoration: none;
    background-color: rgb(55, 93, 105);
    border-radius: 10px;
    padding: 1%;
    white-space: nowrap;

}

.search label {
    color: rgba(255, 255, 255);
    margin: 2% 1%;
    font-family: "Montserrat-light";
    font-size: 120%;
}

.search form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 3%;
    height: 10vh;
}

.search input {
    background: none;
    border: none;
    border-radius: 10px;
    padding: 1%;
    width: 20vw;
    height: 5vh;
    color: rgb(255, 255, 255);
    font-size: 120%;
    font-family: "Montserrat-light";
    border: 2px solid rgba(255, 255, 255, 0.3);
}

.search input::placeholder {
    color: rgba(255, 255, 255);
    text-align: center;
}

.search input:focus {
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    outline: none;
}

.Add-Sort-Btn {
    margin-top: 1%;
}

.Add-Sort-Btn a {
    padding: 0;
    margin: 0;
}

.AddBtn {
    background-color: rgb(55, 140, 49);
    border: none;
    padding: 0.5% 1.5%;
    border-radius: 10px;
    color: rgba(255, 255, 255);
    margin: 1%;
    font-family: "Montserrat-regular";
    font-size: 90%;
    cursor: pointer;
}

.DeleteBtn {
    border: none;
    margin: 0 1%;
    padding: 0.5% 1%;
    color: white;
    background: none;
    cursor: pointer;
}

.DeleteBtn img {
    width: 22px;
    height: auto;
    border-radius: 5px;
}

.samples {
    position: absolute;
    left: -0.5vw;
    width: 101vw;
    height: 52vh;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 1% 2%;
}

.samples table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 90%;
    background: white;
    width: 120vw;
    border-collapse: collapse;
    text-align: left;
    padding: 1%;
}

.samples th {
    font-weight: normal;
    color: rgb(20, 80, 122);
    padding: 1%;
    white-space: nowrap;
}

.samples td {
    border-top: 1px solid #e8edff;
    padding: 1%;
    white-space: nowrap;
}

.active form, .delete form {
    margin: 0;
    padding: 0;
}

.active td {
    color: rgb(102, 132, 153);
}

.active:hover {
    background: rgb(232, 245, 255);
}

.ReturnBtn {
    border: none;
    margin: 0 1%;
    padding: 0.5% 1%;
    color: white;
    background: none;
    cursor: pointer;
}

.ReturnBtn img {
    width: 22px;
    height: auto;
    border-radius: 5px;
}

.active .ReturnBtn {
    display: none;
}

.delete td {
    color: rgb(153, 102, 102);
}

.delete:hover {
    background: rgb(255, 232, 232);
}

.delete .DeleteBtn {
    display: none;
}




/* Стили для подложки */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    padding: 2%;
    width: 60vw;
    height: 70vh;
    max-width: 100%;
    /* Ширина модального окна */
    max-height: 100%;
    /* Высота модального окна */
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 20px;
}

.modal-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 120%;
    font-family: "Montserrat-regular";
    margin-bottom: 2%;
    color: white;
}

.modal-header h4 {
    margin: 0;
    padding: 0;
}

.modal-header button {
    cursor: pointer;
    border: none;
    margin: 0 1%;
    color: rgba(255, 255, 255);
    font-family: "Montserrat-regular";
    font-size: 80%;
    text-decoration: none;
    background-color: rgb(55, 93, 105);
    border-radius: 10px;
    padding: 1%;
    white-space: nowrap;
    transition: .3s;
}

.modal-header button:hover {
    background-color: rgba(55, 93, 105, 0.742);
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.modal-body form {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.modal-body form div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.modal-body input {
    width: 96%;
    margin: 2% 2%;
    background: none;
    border-radius: 10px;
    appearance: none;
    height: 3rem;
    border: 1px solid white;
    font-size: 90%;
    padding: 0 1rem;
    color: white;
}

.modal-body input::placeholder {
    color: rgba(255, 255, 255, 0.733);
}

.Add-Cancel-Btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-top: 2%;
}

.add {
    cursor: pointer;
    margin: 0 1%;
    padding: 0;
    width: 20%;
    background-color: rgb(55, 140, 49);
    border: none;
    border-radius: 10px;
    height: 3rem;
    color: white;
    font-size: 100%;
    font-family: "Montserrat-semibold";
    transition: .3s;
}

.add:hover {
    background-color: rgba(55, 140, 49, 0.8);
}

.cancel {
    cursor: pointer;
    margin: 0 1%;
    padding: 0;
    width: 20%;
    background-color: rgba(55, 93, 105, 0.3);
    border: none;
    border-radius: 10px;
    height: 3rem;
    color: white;
    font-size: 100%;
    font-family: "Montserrat-semibold";
    transition: .3s;
}

.cancel:hover {
    background-color: rgba(55, 93, 105, 0.6);
}