@font-face {
    font-family: "Montserrat-regular";
    src: url(../../styles/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "Montserrat-light";
    src: url(../../styles/fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: "Montserrat-extralight";
    src: url(../../styles/fonts/Montserrat-ExtraLight.ttf);
}

@font-face {
    font-family: "Montserrat-semibold";
    src: url(../../styles/fonts/Montserrat-SemiBold.ttf);
}

html {
    background-color: rgb(195, 195, 195);
    height: auto;
    overflow-x: hidden;
    color: white;
}

#background-video {
    top: -1vh;
    left: -1vw;
    height: 96vh;
    width: 101vw;
    object-fit: cover;
    position: relative;
    z-index: -1;
    margin: 0;
    padding: 0;
}

.navbar {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.65) 19%, rgba(0, 0, 0, 0.541) 34%, rgba(0, 0, 0, 0.382) 47%, rgba(0, 0, 0, 0.278) 56.5%, rgba(0, 0, 0, 0.194) 65%, rgba(0, 0, 0, 0.126) 73%, rgba(0, 0, 0, 0.075) 80.2%, rgba(0, 0, 0, 0.042) 86.1%, rgba(0, 0, 0, 0.021) 91%, rgba(0, 0, 0, 0.008) 95.2%, rgba(0, 0, 0, 0.002) 98.2%, transparent 100%);
    top: -1vh;
    left: -1vw;
    width: 101vw;
    height: 15vh;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    width: auto;
    text-align: center;
    margin: 0;
    padding: 0;
}

.navbar img {
    width: 60%;
    height: auto;
}

.logo {
    width: auto;
    display: flex;
    flex-direction: row;
    height: 100%;
    text-transform: uppercase;
    font-family: "Montserrat-light";
    align-items: center;
    margin: 0;
    padding: 0;
}

.logo h2 {
    font-size: 300%;
    margin: 0 5% 0 0;
    padding: 0;
}

.logo-part p {
    font-family: "Montserrat-extralight";
    white-space: nowrap;
    margin: 1% 0;
    padding: 0;
    text-align: left;
    font-weight: 100;
}

.cont {
    position: absolute;
    color: white;
    z-index: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome {
    position: absolute;
    z-index: 0;
    margin: auto;
    height: auto;
    width: auto;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px rgba(255, 255, 255, 0.05) solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5% 4%;
}

.welcome h1 {
    font-family: "Montserrat-semibold";
    text-transform: uppercase;
    font-size: 220%;
    margin: 0 0 5% 0;
    text-shadow: 1px 1px 4px rgba(34, 34, 34, 0.5);
}

.welcome a {
    cursor: pointer;
}

.welcome button {
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #df4b4a;
    width: 200px;
    height: 30px;
    font-size: 100%;
    text-transform: uppercase;
    font-family: "Montserrat-semibold";
    font-weight: 700;
}

.facts {
    position: absolute;
    background: linear-gradient(to top, rgba(34, 34, 34, 0.8) 0%, rgba(34, 34, 34, 0.638) 19%, rgba(34, 34, 34, 0.541) 34%, rgba(34, 34, 34, 0.382) 47%, rgba(34, 34, 34, 0.278) 56.5%, rgba(34, 34, 34, 0.194) 65%, rgba(34, 34, 34, 0.126) 73%, rgba(34, 34, 34, 0.075) 80.2%, rgba(34, 34, 34, 0.042) 86.1%, rgba(34, 34, 34, 0.021) 91%, rgba(34, 34, 34, 0.008) 95.2%, rgba(34, 34, 34, 0.002) 98.2%, transparent 100%);
    color: white;
    bottom: 5vh;
    left: -1vw;
    width: 101vw;
    height: 12vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.fact {
    margin: 2% 0;
}

.fact h2 {
    text-shadow: 1px 1px 4px rgba(34, 34, 34, 0.5);
    color: #df4b4a;
    font-family: "Montserrat-SemiBold";
    text-transform: uppercase;
    font-size: 90%;
    margin: 0;
    padding: 0;
}

.fact p {
    font-family: "Montserrat-Light";
    margin: 5% 0;
    padding: 0;
    font-size: 160%;
}

.more {
    cursor: pointer;
    bottom: 0;
    position: absolute;
    color: white;
    left: -1vw;
    width: 101vw;
    background-color: #863A21;
    border: none;
    height: 5vh;
    margin: 0;
    padding: 0;
    font-family: "Montserrat-regular";
    text-transform: uppercase;
    font-size: 100%;
}