@font-face {
    font-family: "Montserrat-regular";
    src: url(../../styles/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "Montserrat-light";
    src: url(../../styles/fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: "Montserrat-extralight";
    src: url(../../styles/fonts/Montserrat-ExtraLight.ttf);
}

@font-face {
    font-family: "Montserrat-semibold";
    src: url(../../styles/fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: "Montserrat-medium";
    src: url(../../styles/fonts/Montserrat-Medium.ttf);
}

html {
    color: rgb(0, 0, 0);
    overflow-x: hidden;
    width: 100vw;
    height: auto;
}

.navbar {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.65) 19%, rgba(0, 0, 0, 0.541) 34%, rgba(0, 0, 0, 0.382) 47%, rgba(0, 0, 0, 0.278) 56.5%, rgba(0, 0, 0, 0.194) 65%, rgba(0, 0, 0, 0.126) 73%, rgba(0, 0, 0, 0.075) 80.2%, rgba(0, 0, 0, 0.042) 86.1%, rgba(0, 0, 0, 0.021) 91%, rgba(0, 0, 0, 0.008) 95.2%, rgba(0, 0, 0, 0.002) 98.2%, transparent 100%);
    top: -1vh;
    left: -1vw;
    width: 101vw;
    height: 15vh;
    object-fit: cover;
    position: absolute;
    z-index: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar form {
    position: absolute;
    top: -0.5vh;
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar input {
    background: none;
    border: none;
    border-radius: 10px;
    padding: 1%;
    width: 20vw;
    height: 5vh;
    color: white;
    font-size: 120%;
    font-family: "Montserrat-light";
    border: 2px solid rgba(255, 255, 255, 0.3);
}

.navbar input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.navbar input:focus {
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    outline: none;
}

.navbar a {
    color: white;
    text-decoration: none;
    width: auto;
    text-align: center;
    margin: 0;
    padding: 0;
}

.navbar img {
    width: 60%;
    height: auto;
}

.logo {
    width: auto;
    display: flex;
    flex-direction: row;
    height: 100%;
    text-transform: uppercase;
    font-family: "Montserrat-light";
    align-items: center;
    margin: 0;
    padding: 0;
}

.logo h2 {
    font-size: 300%;
    margin: 0 5% 0 0;
    padding: 0;
}

.logo-part p {
    font-family: "Montserrat-extralight";
    white-space: nowrap;
    margin: 1% 0;
    padding: 0;
    text-align: left;
    font-weight: 100;
}

.body {
    position: absolute;
    top: 10vh;
    display: grid;
    grid-template-columns: 10vw 45vw 30vw 5vw;
    padding: 2%;
    align-items: center;
}

.body iframe {
    width: 100%;
    height: 100%;
    background-image: url("../../styles/background.jpg");
    /* background-color: red; */

}

/* .img-sample {
    position: absolute;
    top: 60vh;
    object-fit: contain;
    width: 80%;
    height: auto;
    margin: 0;
    padding: 0;
    border-radius: 15px;
} */

.info {
    padding: 0 0 0 10%;
    width: 60vw;
}

.title {
    margin-bottom: 2%;
}

.info h2 {
    font-family: "Montserrat-semibold";
    font-size: 200%;
    padding: 0;
    margin: 1% 0 0 0;
}

.info h3 {
    font-family: "Montserrat-light";
    font-size: 120%;
    padding: 0;
    margin: 0;
}


.info-body p {
    color: black;
    font-family: "Montserrat-regular";
    margin: 3% 0;
    padding: 0;
    font-size: 100%;
}

.info-body b {
    color: #875F4B;
    font-family: "Montserrat-medium";
}

.next {
    color: #875F4B;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    transition: .3s;
}

.next button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 150%;
    color: #875F4B;
    font-family: "Montserrat-semibold";
}

.next img {
    width: 2vw;
    height: auto;
}

.next:hover {
    transform: scale(1.03);
}


.back {
    color: #875F4B;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    transition: .3s;
}

.back button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 150%;
    color: #875F4B;
    font-family: "Montserrat-semibold";
}

.back img {
    width: 2vw;
    height: auto;
    transform: rotate(180deg);
}

.back:hover {
    transform: scale(1.03);
}

.text-info {
    position: absolute;
    top: 90vh;
    left: -0.5vw;
    padding: 1% 20%;
    font-size: 100%;
}

.text-info h4 {
    font-family: "Montserrat-light";
}

.text-info b {
    font-family: "Montserrat-regular";
}