@font-face {
    font-family: "Montserrat-regular";
    src: url(../../styles/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "Montserrat-light";
    src: url(../../styles/fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: "Montserrat-extralight";
    src: url(../../styles/fonts/Montserrat-ExtraLight.ttf);
}

@font-face {
    font-family: "Montserrat-semibold";
    src: url(../../styles/fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: "Montserrat-medium";
    src: url(../../styles/fonts/Montserrat-Medium.ttf);
}

html {
    color: rgb(0, 0, 0);
    overflow-x: hidden;
    width: 100vw;
    height: auto;
}

.navbar form {
    position: absolute;
    top: -0.5vh;
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search label {
    color: rgba(255, 255, 255, 0.5);
    margin: 2% 1%;
    font-family: "Montserrat-light";
    font-size: 120%;
}

.navbar input {
    background: none;
    border: none;
    border-radius: 10px;
    padding: 1%;
    width: 20vw;
    height: 5vh;
    color: white;
    font-size: 120%;
    font-family: "Montserrat-light";
    border: 2px solid rgba(255, 255, 255, 0.3);
}

.navbar input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.navbar input:focus {
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    outline: none;
}

.navbar {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.65) 19%, rgba(0, 0, 0, 0.541) 34%, rgba(0, 0, 0, 0.382) 47%, rgba(0, 0, 0, 0.278) 56.5%, rgba(0, 0, 0, 0.194) 65%, rgba(0, 0, 0, 0.126) 73%, rgba(0, 0, 0, 0.075) 80.2%, rgba(0, 0, 0, 0.042) 86.1%, rgba(0, 0, 0, 0.021) 91%, rgba(0, 0, 0, 0.008) 95.2%, rgba(0, 0, 0, 0.002) 98.2%, transparent 100%);
    top: -1vh;
    left: -1vw;
    width: 101vw;
    height: 15vh;
    object-fit: cover;
    position: absolute;
    z-index: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    width: auto;
    text-align: center;
    margin: 0;
    padding: 0;
}

.navbar img {
    width: 60%;
    height: auto;
}

.logo {
    width: auto;
    display: flex;
    flex-direction: row;
    height: 100%;
    text-transform: uppercase;
    font-family: "Montserrat-light";
    align-items: center;
    margin: 0;
    padding: 0;
}

.logo h2 {
    font-size: 300%;
    margin: 0 5% 0 0;
    padding: 0;
}

.logo-part p {
    font-family: "Montserrat-extralight";
    white-space: nowrap;
    margin: 1% 0;
    padding: 0;
    text-align: left;
    font-weight: 100;
}

.back-img {
    top: -1vh;
    left: -1vw;
    height: auto;
    width: 101vw;
    object-fit: cover;
    position: relative;
    z-index: -1;
    margin: 0;
    padding: 0;
}

.services h1 {
    font-family: "Montserrat-regular";
    text-align: center;
    margin: 4% 10% 2% 10%;
}

.services p {
    font-family: "Montserrat-extralight";
    text-align: left;
    margin: 1% 10% 2% 10%;
    font-size: 110%;
}

.scroll {
    margin: 4% 0 1% 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;
}

.scroll p {
    margin: 0 1%;
    padding: 0;
    font-family: "Montserrat-light";
    font-size: 100%;
    color: rgba(0, 0, 0, 0.5);
}

.scroll img {
    width: 20px;
    padding: 0;
    margin: 0;
    z-index: 0;
    opacity: 0.5;
}

.samples {
    position: absolute;
    left: -0.5vw;
    width: 101vw;
    height: 52vh;
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 1% 2%;
}

.samples a {
    text-decoration: none;
}

.samples::-webkit-scrollbar {
    width: 0;
}

.card {
    display: inline-block;
    width: 80vh;
    height: 50vh;
    border-radius: 20px;
    background-color: whitesmoke;
    text-align: center;
    margin: 0 1%;
    box-shadow: 2px 2px 10px rgb(75, 36, 0, 0.2);
    transition: .3s;
}

.card:hover {
    transform: scale(1.015);
}

.card-body {
    height: 50vh;
    padding: 0 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img-sample {
    object-fit: cover;
    width: 35vh;
    height: 45vh;
    margin: 0;
    padding: 0;
    border-radius: 15px;
}

.card-inf {
    display: flex;
    flex-direction: column;
    margin: 5% 4%;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: flex-start;
}

.card-inf h2 {
    color: black;
    font-family: "Montserrat-semibold";
    margin: 0;
    padding: 0;
    font-size: 140%;
}

.card-inf h3 {
    color: black;
    font-family: "Montserrat-light";
    margin: 5% 0;
    padding: 0;
    font-size: 100%;
}

.card-inf span {
    border: 0.7px solid rgba(0, 0, 0, 0.5);
    width: 36vh;
    margin: 0 0 7% 0;
}

.card-inf p {
    color: black;
    font-family: "Montserrat-regular";
    margin: 3% 0;
    padding: 0;
    font-size: 100%;
}

.card-inf b {
    color: #875F4B;
    font-family: "Montserrat-medium";
}

.search {
    background-color: rgba(37, 63, 72, 0.384);
    margin: 0;
    padding: 0;
    width: 100%;
}

.search form {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

.search input {
    background: none;
    border: none;
    border-radius: 10px;
    padding: 1%;
    width: 20vw;
    height: 5vh;
    color: white;
    font-size: 120%;
    font-family: "Montserrat-light";
    border: 2px solid rgba(255, 255, 255, 0.3);
}

.search input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.search input:focus {
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    outline: none;
}