<html>
    <head>
        {{template "navbar" .}}
        <link href={{ .css }} rel="stylesheet" type="text/css">
    </head>
    <body>
       <div class="services">
            <img class="back-img" src="../../styles/rock.png">
            <div class="absolute-search">
                <div class="search">
                    <a href="/employee_mode">Back</a>
                    
                </div>
            </div>
        </div>
    </body>
    
</html>
