{{ define "add_sample" }}
<div class="overlay">
    <div id="access-settings-modal" class="modal" style="display: none;">
        <div class="modal-header">
            <h4>Add New Sample</h4>
            <button class="close-button" id="close-modal-button">Close</button>
        </div>
        <div class="modal-body">
            <form action="/add_sample" method="post">
                <div>
                    <input type="text" id="id" name="id" placeholder="№"></input>
                    <input type="text" id="name" name="name" placeholder="Name"></input>
                    <input type="text" id="status" name="status" placeholder="Status"></input>
                    <input type="text" id="type" name="type" placeholder="Type"></input>
                    <input type="date" id="date" name="date" placeholder="Date Sealed"></input>
                    <input type="text" id="sol" name="sol" placeholder="Sol Sealed"></input>
                </div>
                <div>
                    <input type="text" id="rock_type" name="rock_type" placeholder="Rock Type"></input>
                    <input type="text" id="height" name="height" placeholder="Height"></input>
                    <input type="text" id="location" name="location"placeholder="Current Location"></input>
                    <input type="text" id="image" name="image" placeholder="Image"></input>
                    <input type="text" id="video" name="video" placeholder="Video"></input>
                </div>
                <div class="Add-Cancel-Btn">
                    <button type="submit" class="add">Add</button>
                    <button class="cancel" id="cancel-modal-button">Cancel</button>
                </div>
            </form>
            
        </div>
    </div>
</div>
{{end}}