<html>
    <head>
        {{template "navbar" .}}
        <link href={{ .css }} rel="stylesheet" type="text/css">
        <script src="/js/modal.js" type="text/javascript"></script>
    </head>
    <body>
       <div class="services">
             {{ template "add_sample" .}}
            <img class="back-img" src="../../styles/rock.png">
            <div class="absolute-search">
                <div class="search">
                    <a href="/services">User Mode</a>
                    <form action="/search_empl" method="GET" type="submit" class="search">
                        <label>Search:</label>
                        <input type="text" id="searchQuery" name="q" placeholder="{{.Search}}"></input>
                    </form>
                </div>
            </div>
            <div class="Add-Sort-Btn">
                <button id="access-settings-button" class="AddBtn" title="Add">Add New Sample</button>
            </div>

            
            
            <div class="samples">
                <table>
                    <tr>
                        <th></th>
                        <th>№</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Type</th>
                        <th>Date Sealed</th>
                        <th>Sol Sealed</th>
                        <th>Rock Type</th>
                        <th>Height</th>
                        <th>Current Location</th>
                        <th>Image</th>
                        <th>Video</th>
                    </tr>
                    {{ range .Services }}
                        {{ $status := "" }}
                        {{ if eq .Sample_status "Active" }}
                            {{ $status = "active" }}
                        {{ else }}
                            {{ $status = "delete" }}
                        {{ end }}
                        <tr class="{{ $status }}">
                            <td>
                                <form action="/delete?q={{.Id_sample}}" method="POST" class="form">
                                    <button type="submit" class="DeleteBtn"><img src="../../styles/icons8-крестик-78-2.png" alt="Delete" title="Delete"></button>
                                </form>
                                <form action="/return?q={{.Id_sample}}" method="POST" class="form">
                                    <button type="submit" class="ReturnBtn"><img src="../../styles/icons8-вернуть-96.png" alt="Return" title="Return"></button>
                                </form>
                            </td>
                            <td>{{ .Id_sample }}</td>
                            <td>{{ .Name }}</td>
                            <td>{{ .Sample_status }}</td>
                            <td>{{ .Type }}</td>
                            <td>{{ .Date_Sealed.Format "02 January 2006"}}</td>
                            <td>{{ .Sol_Sealed }}</td>
                            <td>{{ .Rock_Type }}</td>
                            <td>{{ .Height }}</td>
                            <td>{{ .Current_Location }}</td>
                            <td>{{ .Image }}</td>
                            <td>{{ .Video }}</td>
                        </tr>
                    {{ end }}
                </table>
            </div>
        </div>
    </body>
    
</html>
