{{define "navbar"}}
    <div class="navbar">
        <a href="/home"><img src="../../styles/logo.png"></a>
        <a href="/home">
            <div class="logo">
                <h2>mars</h2>
                <div class="logo-part">
                    <p>sample return</p>
                    <p>mission</p>
                </div>
            </div>
        </a>
    </div>

{{end}}