<html>
    <head>
        <link href={{ .css }} rel="stylesheet" type="text/css">
    </head>
    <body>
        <div>
            {{ range .Sample }}
                <a href="/services/{{.Id}}">
                    {{template "card" .}}
                </a>
            {{ end }}
        </div>
    </body>
    
</html>
